/* charmonman for blockquote
goldman for nav-links
faster One for logo
finger paint for figcaption
Englebert for copyright
Katibeh for h1
Fjord One for h2
caladea for p */

.follow-me button {
  position: fixed;
  top: 600px;
  right: 10px;
  bottom: auto;
  background-color: blue;
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.follow-me button a {
  font-family: "goldman", cursive;
  color: white;
}
.follow-me button a:hover {
  color: black;
}

body {
  font-size: 16px;
  background-color: black;
  color: white;
}

h1 {
  font-family: "Katibeh", cursive;
  font-size: 50px;
}

h2 {
  font-family: "Fjord One", serif;
}

.header p {
  font-size: 25px;
  font-family: "caladea", serif;
}

* {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

p {
  font-family: "caladea", serif;
}

figcaption {
  font-family: "finger paint", cursive;
}
.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 0px;
  padding: 5px 50px;
}

.logo {
  font-size: x-large;
  font-family: "faster One", cursive;
}

.logo a:hover {
  color: white;
}

.nav ul {
  list-style: none;
}
li {
  padding-left: 30px;
  font-family: "goldman", cursive;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}

.footer a {
  font-family: "goldman", cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
  align-items: center;
  padding-bottom: 50px;
}

.header-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: 300ms ease-in;
}

.header-image:hover {
  transform: scale(1.1);
}
.header button {
  background-color: blue;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "goldman", cursive;
  margin-top: 20px;
}

.header a:hover {
  color: black;
}

.sections {
  text-align: center;
  background-color: white;
  color: black;
  padding-top: 5px;
}

.sect-1 {
  display: flex;
  gap: 50px;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  background: white;
  margin-bottom: 20px;
}

.box img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 1px solid blue;
  border-radius: 10px;
  transition: 300ms ease-in;
}

.box img:hover {
  transform: scale(1.1);
}

.sect-2 {
  background-color: grey;
  padding: 20px 100px;
  height: 100px;
  text-align: justify;
  display: flex;
  align-items: center;
}

.blockquote {
  margin-bottom: 0;
  padding-bottom: 1px;
  font-size: x-large;
  font-style: italic;
  padding-left: 150px;
}

.blockquote div {
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}

.sect-3 {
  height: 150px;
}

.sect-box {
  background-color: blue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  align-items: center;
  padding-bottom: 10px;
}

.sect-box button {
  background-color: blue;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 20px;
  font-family: "goldman", cursive;
}

.sect-box a:hover {
  color: black;
}

.sect-box p {
  font-size: 20px;
}

.footer {
  text-align: center;
  padding: 2px;
  font-family: "Englebert", sans-serif;
}

@media screen and (max-width: 600px) {
  .sections {
    padding: 0px;
    margin-right: 0px;
    padding-top: 1px;
  }

  .sect-1 {
    margin-top: 0px;
  }
  .sect-2 {
    padding: 0px;
    height: 150px;
  }

  .sect-2 .blockquote {
    font-size: large;
    padding: 0px 10px;
  }

  .sect-3 {
    padding: 0px;
  }
  .sect-box {
    height: 100px;
    width: 480px;
    font-size: small;
    text-align: left;
    justify-content: space-between;
    padding-left: 0px;
    margin-left: 0px;
    gap: 50px;
    padding-right: 0px;
    border-radius: 0px;
    padding-bottom: 20px;
  }

  .header {
    flex-direction: column;
    border-width: border-box;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .header button {
    margin-left: 150px;
  }

  .header p {
    text-align: center;
    font-size: large;
    margin-top: 0px;
  }

  .header h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
  }

  .follow-me button {
    display: none;
  }

  .header-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .logo ul {
    display: flex;
    margin-right: 0px;
  }

  .sect-box button {
    margin-right: 10px;
    font-size: small;
    border: none;
  }

  .sect-box div {
    margin-left: 20px;
  }
}
